.header img{
    width: 50px;
  }
  
  .header {
    /* ты будешь называться хедар/h, даем псевдонимы, чтобы в общий wrapper сайта легче было добавить  */
    grid-area: h;
    background-color: green;
  }

  .loginBlock{
    float: right;
  }

  .loginBlock a{
    color: white;
  }